<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <div class="container">
        <h1>TODO App</h1>
        <div>
            <h3>Description</h3>
            <input type="text" placeholder="What do you need to do ?" class="input" name="taskName">
        </div>
        <form class="inputs-container" action="/addTask" method="POST">
                <div style="width: 45%;">
                    <h3>Category</h3>
                    <select  placeholder="Choose a Category" class="input" name="category">
                        <option value="A">Choose a Category</option>
                        <option value="B">B</option>
                        <option value="A">C</option>
                        <option value="A">D</option>
                        <option value="A">E</option>
                    </select>
                </div>
                <div style="width: 45%;">
                    <h3>Due Date</h3>
                    <input type="date" class="input" name="todoDate"> 

                </div>
                <div class="buttons">
                    <button type="submit" >Add Task</button>
                    <a href='/deleteTask'><button type="button">Delete Task</button></a>
                </div>
        </form>

        <div class="task-list">
            <ul>
            <% for (let i for task {)%>
                <li>
                    <h1><%= i.taskName%></h1>
                    <p><%= i.todoDate%></p>
                    <p><%= i.category%></p>
                </li>
                
            <%}%>
            </ul>
        </div>
        

    </div>
</body>
</html>